/* Custom color variables */
:root {
    --dark: #548464;
    --med1: #8ead9a;
    --med2: #6d9f91;
    --light: #d7e2db;
    --blue: #7bd9f8;
    --red: #9c2412;
}

/* Styling for body background */
body {
    background-color: var(--light);
}

/* Styling for the header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border: var(--light);
    background-color: var(--dark);
}

/* Styling for navigation and nav buttons */
#customNav {
    flex:0 0 62%;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    color: var(--dark);
}


.carousel-item{
    margin-left: 90px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.aside-button{
   
    height: 38px;
    background-color: var(--med);
    border: 2px solid var(--light);
    border-radius: 3px;
    margin-top: 4vh;
}


/* Styling for logo image */

.logo-image {
    max-width: 30%;
    height: auto;
    flex:0 0 28%;
}


/* Styling for day display element */

#day-display {
    flex:0 0 10%;
    margin: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
}

/* Styling for missed day modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Styling for the warning modal and modal content */
#warning-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: var(--med2);
    color: var(--red);
}

/* Styling for the aside section and aside buttons */
.aside {
    float: left;
    margin-top: 20px;
    margin-left: 0px;
}

.container .aside-button {
    color: var(--light);
    width: 100%;
    text-align: center;
    background-color: var(--dark);
    height: 35px;
}

img {
    max-width: 50%;
}

/* Styling for the main section */
.main {
    float: right;
}

/* Radio input custom colour */
.form-check-input[type="radio"]:checked {
   background-color: var(--med2);
}



/* Style for the links in the footer */
.exlinks {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*Style for card headers and body*/

.card-header {
    background-color: var(--dark);
    color: var(--light);
}
.chartBkGr{
    background-color: var(--light);
}
#tipContents, #quoteContents {
    background-color: var(--med1);
    color: black;
}


.exlinks a {
    text-decoration: none;
    color: var(--dark);
    margin: 0px 30px;
    transition: color 0.3s ease-in-out;
}

.exlinks a:hover {
    color: var(--red);
}

/* Styling for the footer */
footer{
    clear: both;
}

/* Styling for message header */
.message-header {
    background-color: var(--red);
}