:root {
    --dark: #548464;
    --med1: #8ead9a;
    --med2: #6d9f91;
    --light: #d7e2db;
    --blue: #7bd9f8;
    --red: #9c2412;


}

.health-tip,
aside,
quote-day,
chart {
    border: 3px solid var(--light);
    background-color: var(--med);
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border: var(--light);
    background-color: var(--dark);
}

.nav-buttons {
    display: flex;
    align-items: center;
}

#day-display {
    font-size: 14px;
}

#carouselSlides {
    max-height: 400px;
}

.carousel-image {

    width: 60%;
    height: 60%;

}

.modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.aside-button{
    width: 100px;
    height: 35px;
    background-color: var(--med);
    border: 2px solid var(--light);
    border-radius: 3px;
    margin-top: 4vh;
}

.logo-image {
    max-width: 45%;
    height: auto;
    
}

.logo {
    flex:0 0 30%;
}

#customNav {
    flex:0 0 50%;
}

#day-display {
    flex:0 0 20%;
}

/* Style for the links in the footer */
.exlinks {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.exlinks a {
    text-decoration: none;
    color: var(--dark);
    margin: 0px 30px;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.exlinks a:hover {
    color: var(--red);
}

#warning-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}